/* line 1, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
* {
  padding: 0px;
  margin: 0px;
}

/* line 5, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
body {
  font-size: 14px;
  color: #000;
  font-family: 'Open Sans', sans-serif;
}

/* line 10, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

/* line 13, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
ul, li {
  list-style: none;
  margin: 0px;
}

/* line 17, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
a {
  text-decoration: none;
}

/* line 20, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.container {
  width: 100%;
  max-width: 1170px;
}

/* line 24, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.clr {
  clear: both;
}

/* line 27, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.mt9 {
  margin-top: 9px;
}

/* line 30, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.mb15 {
  margin-bottom: 15px !important;
}

/* line 33, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.pl0 {
  padding-left: 0px !important;
}

/* line 36, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.mb0 {
  margin-bottom: 0 !important;
}

/* line 39, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.mt0 {
  margin-top: 0px;
}

/*..........Main Style..............*/
/*..........Header Style..............*/
/* line 44, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
header {
  padding-bottom: 15px;
}

/* line 47, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.logo {
  float: left;
  margin-top: 15px;
}

/* line 51, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.right-content {
  float: right;
}

/* line 54, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.right-content ul li {
  float: left;
  margin: 0px 20px;
  position: relative;
}

/* line 59, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.right-content ul {
  float: left;
}

/* line 62, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.right-content ul li a {
  float: left;
  height: 82px;
  line-height: 80px;
  color: #b9bdc6;
}

/* line 68, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.right-content ul li:last-child {
  margin-right: 0px;
}

/* line 71, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.right-content ul li:last-child a {
  background: #f1f4f9;
  color: #e0694c;
  padding: 0px 30px;
}

/* line 76, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.right-content ul li a span.alert-count {
  background: #e0694c;
  height: 18px;
  width: 18px;
  border-radius: 30px;
  color: #fff;
  position: absolute;
  top: 14px;
  line-height: normal;
  text-align: center;
}

/* line 87, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.right-content ul li .dropup, .right-content ul li .dropdown {
  height: 82px;
}

/* line 90, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.right-content ul li .dropdown-menu {
  left: -110px !important;
  width: 270px;
  background: #f1f4f9;
  border-radius: 0px;
  box-shadow: none;
  margin-top: 0px;
}

/* line 98, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.right-content ul li .dropdown-menu li {
  width: 100%;
  margin-left: 0px;
  padding: 0px 27px;
}

/* line 103, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.right-content ul li .dropdown-menu li a {
  border-bottom: 1px solid #dae1ec;
  display: block;
  word-break: break-all;
  white-space: normal;
  line-height: normal;
  height: auto;
  padding: 10px 0px;
  color: #adb2bc;
}

/* line 113, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.right-content ul li .dropdown-menu li a:hover {
  background: none;
}

/* line 116, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.right-content ul li .dropdown-menu li a span {
  color: #34353f;
}

/* line 119, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.right-content ul li .dropdown-menu li a label {
  display: inline;
  font-weight: normal;
  color: #d1664f;
}

/* line 124, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.right-content ul li .dropdown-menu li a h5 {
  font-weight: normal;
  color: #adb2bc;
  font-style: italic;
  margin-top: 5px;
}

/* line 130, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.right-content ul li .dropdown-menu li a.custom-btn {
  background: #34353f;
  border-radius: 0;
  border: 1px solid #dae1ec;
  color: #fff;
  margin-top: 15px;
  padding: 7px 20px;
}

/* line 138, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.btn.custom-btn {
  background: #34353f;
  border-radius: 0;
  border: 1px solid #dae1ec;
  color: #fff;
  padding: 7px 20px;
}

/* line 145, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.navbar-default .navbar-nav > li > a {
  height: 45px;
  line-height: 17px;
}

/* line 149, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.nav.navbar-nav {
  float: right;
}

/* line 152, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.navbar-default .navbar-brand {
  height: 45px;
  line-height: 17px;
  background: #e0694c;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  text-shadow: 0px 0px 1px #d06247;
}

/* line 161, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.nav.navbar-nav {
  background: #dae1ec;
}

/* line 164, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.nav.navbar-nav li {
  border-left: 1px solid #eaeef5;
}

/* line 167, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.nav.navbar-nav li a {
  font-size: 14px;
  padding-left: 25px;
  padding-right: 25px;
}

/* line 172, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.navbar-form {
  margin-top: 8px;
}

/* line 175, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.navbar {
  min-height: 47px;
}

/* line 178, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.navbar-form .form-control {
  background: #f1f4f9 url(/assets/search-icon-a80385066dbe97d1c4e638c7513885a249a82b47554647820ff59c3605edee02.png) 96% 5px no-repeat;
  border: 1px solid #d5dae2;
  border-radius: 0;
  box-shadow: none;
  height: 29px;
  padding-right: 40px;
  margin-right: 15px;
}

/* line 187, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.navbar-form a {
  color: #adb2bc;
}

/* Start Left Side */
/* line 191, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.left-side {
  max-width: 700px;
}

/* line 194, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.control-label {
  color: #34353f;
  font-size: 15px;
  margin-bottom: 10px;
}

/* line 199, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.form-control {
  background: #fafcfe;
  border-color: #dce3ee;
  border-radius: 0;
  box-shadow: none;
  height: 38px;
  color: #72737d;
  font-size: 14px;
}

/* line 208, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.form-control:focus {
  box-shadow: none;
  border-color: #e0694c;
}

/*  The rest is from Twitter Bootstrap */
/* line 213, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
input, .input-append {
  display: inline-block;
  vertica-align: middle;
}

/* line 217, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.input-append .form-control {
  background: #fafcfe;
  border-color: #dce3ee;
  border-radius: 0;
  box-shadow: none;
  height: 38px;
  color: #72737d;
  display: inline-block;
  font-size: 14px;
  width: 170px;
  margin: 0px;
  float: left;
}

/* line 230, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.btn-file {
  background: #eaeef5;
  border-radius: 0;
  padding: 8px 22px;
  margin: 0px;
  border-color: #dce3ee;
  border-left: 0px;
  float: left;
  color: #72737d;
  font-size: 14px;
}

/* line 241, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.chosen-container-multi .chosen-choices {
  background: #fafcfe;
  border-color: #dce3ee;
  border-radius: 0;
  padding: 3px 12px;
  box-shadow: none;
  color: #72737d;
  display: inline-block;
  font-size: 14px;
}

/* line 251, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
  top: 8px;
  right: 7px;
}

/* line 255, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.chosen-container-multi .chosen-choices li.search-choice {
  border: none;
  padding: 8px 25px 6px 13px;
  background: url(/assets/tags-bg-44d14ab0574bc89385594b9379aa36b8be32c9fa37139eded8dbab745a640f24.png) left top repeat-x;
}

/* line 260, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.chosen-container-multi .chosen-choices li.seaSrch-choice span {
  color: #686f79;
  font-size: 14px;
}

/* line 264, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.chosen-container.chosen-with-drop .chosen-drop {
  border-color: #dce3ee;
  box-shadow: none;
  border-top: 1px solid #dce3ee;
}

/* line 269, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.w66 {
  width: 66px !important;
}

/* line 272, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.select-option {
  float: left;
  width: 80px;
  margin-left: 10px;
}

/* line 277, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.select-option .chzn-select {
  float: left;
  width: 100%;
}

/* line 281, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.chosen-container-single .chosen-single {
  background: #fafcfe;
  border-radius: 0;
  box-shadow: none;
  height: 38px;
  border: 1px solid #dce3ee;
}

/* line 288, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.chosen-container-single .chosen-single span {
  line-height: 34px;
}

/* line 291, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.chosen-container-single .chosen-single div b {
  background: url(/assets/down-arrow-8186d38e91990817569ee0e229a0e0159f9f501c8e4fc2cb222b176af1e50214.jpg) left no-repeat;
}

/* line 294, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.chosen-search {
  display: none;
}

/* line 297, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.ui-spinner.ui-widget.ui-widget-content.ui-corner-all {
  background: none;
  border: none;
}

/* line 301, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.ui-spinner-input {
  background: #fafcfe none repeat scroll 0 0;
  border: #dce3ee 1px solid;
  border-radius: 0;
  box-shadow: none;
  color: #e0694c;
  font-size: 18px !important;
  height: 38px;
  margin-left: 0px;
  width: 66px;
  text-align: center;
  font-weight: 700;
}

/* line 314, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.ui-icon-triangle-1-n {
  background: url(/assets/toparrow-1d43c2221fe930d01f78fd4addd13fc721347e5d601310f47e0cbbbfca9cd57f.png) left 5px no-repeat !important;
}

/* line 317, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.ui-spinner .ui-icon-triangle-1-s {
  background: url(/assets/down-arrow-ff53150763e7525cebf4dbcf568879e5a69404e4f55c6c12e40cb23e466726da.png) left top no-repeat;
}

/* line 320, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.set-deadline label {
  margin-bottom: 5px;
  margin-top: 15px;
}

/* line 324, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.wmd-panel {
  min-width: 100%;
}

/* line 327, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.line {
  border-top: 1px solid #dce3ee;
}

/*.............right side...........*/
/* line 331, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.block-img {
  width: 100%;
  max-width: none;
}

/* line 335, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.custom-list h3 {
  padding-bottom: 3px;
  color: #29282e;
  border-bottom: 1px solid #e7eaed;
  margin-bottom: 20px;
}

/* line 341, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.custom-list h3 span {
  border-bottom: 1px solid #e7eaed;
  display: block;
  padding-bottom: 10px;
  font-size: 18px;
}

/* line 347, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.dolor-icon {
  margin-right: 5px;
  margin-top: -4px;
}

/* line 351, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.custom-list ul li {
  padding-right: 30px;
  margin-bottom: 25px;
  color: #7c7a87;
  font-size: 14px;
  position: relative;
}

/* line 358, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.custom-list ul li span {
  position: absolute;
  right: 0px;
  top: 0px;
  color: #d1593b;
  font-weight: bold;
}

/* line 365, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.custom-list.most-veiwed ul li span {
  color: #7c7a87;
}

/* line 368, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
footer {
  background: #34353f;
  padding: 10px 0px;
  color: #adb2bc;
  font-size: 12px;
}

/* line 374, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.btn.footer-btn {
  background-color: transparent;
  border: 1px solid #4c4d58;
  border-radius: 0;
  padding: 12px 30px;
  font-weight: 700;
  color: #fff;
  font-size: 18px;
  transition: 0.2s all ease-in-out;
}

/* line 384, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.btn.footer-btn:hover {
  background: #fff;
  color: #34353f;
}

/* line 388, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
footer .pull-right a {
  margin-right: 10px;
}

/*..........Index.............*/
/* line 392, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.jumbotron {
  background: url(/assets/banner-bfd1ca1e882b45208720ce94749434fa9f25a1f1236fde757f149379b029191c.jpg) left top no-repeat;
  background-size: cover;
  text-align: center;
  color: #fff;
  margin-bottom: 0px;
}

/* line 399, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.jumbotron h2 {
  color: #ffffff;
  font-size: 32px;
  font-weight: 700;
}

/* line 404, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.jumbotron h3 {
  color: #e0694c;
  font-size: 26px;
  font-weight: 700;
}

/* line 409, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.jumbotron h4 {
  color: #fff;
  font-size: 22px;
  font-weight: 700;
}

/* line 414, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.how-it-works {
  background: #34353f;
  padding: 40px 0px;
}

/* line 418, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.how-it-work-wrapper {
  max-width: 710px;
  margin: auto;
  position: relative;
}

/* line 423, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.how-it-work-inn {
  float: left;
  width: 33%;
  text-align: center;
  color: #fff;
  position: relative;
}

/* line 430, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.how-it-work-inn.first {
  margin-top: 44px;
}

/* line 433, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.navbar.navbar-default.inn-nav {
  border-top: none;
}

/* line 436, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.navbar.navbar-default.inn-nav .navbar-brand {
  height: 46px;
  background: #dae1ec;
  color: #34353f;
  text-shadow: none;
}

/* line 442, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.works-heading {
  color: #fff;
  font-size: 30px;
  margin-bottom: 20px;
}

/* line 447, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.works-heading span {
  color: #e0694c;
}

/* line 450, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.how-it-work-inn span {
  color: #9593a0;
  font-size: 18px;
  font-style: italic;
}

/* line 455, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.first-line {
  left: 123px;
  position: absolute;
  top: 41px;
}

/* line 460, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.sec-line {
  right: 123px;
  position: absolute;
  top: 41px;
}

/* line 465, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.nav-tabs > li > a {
  padding: 18px 20px;
  border-bottom: none;
  color: #34353f;
  font-size: 14px;
}

/* line 471, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.nav-tabs > li > a:hover {
  border-color: #dae1ec;
  background-color: #FFF;
  border-radius: 0;
}

/* line 476, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  border-radius: 0;
  border-color: #dae1ec;
  background-color: #FFF;
  border-bottom: none;
  border-radius: 0;
  color: #34353f;
  font-weight: bold;
  outline: none;
}

/* line 486, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.tab-content {
  padding: 40px 0;
}

/* line 489, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.tab-content .tab-pane .navbar-form {
  padding-left: 0px;
  margin: 0;
}

/* line 493, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.tab-content .tab-pane .navbar-form .form-control {
  width: 255px;
}

/* line 496, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.tab-content .tab-pane .navbar-form a {
  color: #e0694c;
  font-size: 14px;
}

/* line 500, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.open-bounties-list {
  margin: 25px 0 30px 0;
}

/* line 503, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.open-bounties-list:last-child {
  margin-bottom: 10px;
}

/* line 508, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.open-bounties-header .open-bounties-price {
  color: #e0694c;
  font-size: 30px;
  font-weight: bold;
  float: left;
}

/* line 514, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.open-bounties-header h3 {
  margin-top: 12px;
  color: #404450;
  font-size: 18px;
  font-weight: bold;
  padding-left: 30px;
  display: inline-block;
}

/* line 522, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.open-bounties-header .open-bounties-views {
  float: right;
  color: #c5cdd9;
  font-size: 14px;
  margin-top: 12px;
}

/* line 528, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.open-bounties-header .open-bounties-views i {
  margin-right: 2px;
}

/* line 531, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.open-bounties-list-desc {
  margin-top: 20px;
}

/* line 534, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.open-bounties-desc {
  color: #adb2bc;
  font-size: 13px;
  font-style: italic;
}

/* line 539, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.open-bounties-desc span {
  color: #34353f;
}

/* line 542, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.open-bounties-desc a {
  color: #e0694c;
}

/* line 545, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.open-bounties-tags {
  float: right;
}

/* line 548, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.open-bounties-tags a {
  padding: 5px 18px;
  color: #686f79;
  margin-right: 5px;
  font-size: 14px;
  background: "tags-bg.png" left top repeat-x;
  float: left;
}

/* line 556, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.reviewing {
  font-style: italic;
}

/* line 559, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.load-more {
  text-align: center;
}

/* line 562, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.load-more a {
  color: #404450;
  font-size: 24px;
}

/* line 566, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.load-more a:hover {
  text-decoration: none;
}

/* line 569, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.load-more span {
  display: block;
}

/* line 572, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.left-body {
  float: left;
  width: 100%;
}

/* line 576, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.left-body h2 {
  font-weight: 700;
  font-size: 24px;
  color: #404450;
  border-bottom: 1px solid #dce3ee;
  padding-bottom: 35px;
  margin-bottom: 15px;
}

/* line 584, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.left-body h2 span {
  font-size: 30px;
  color: #e0694c;
  display: inline-block;
  margin-right: 5px;
}

/* line 590, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.bounty-nav {
  float: left;
  width: 100%;
  margin-bottom: 35px;
}

/* line 595, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.bounty-nav ul {
  float: left;
}

/* line 598, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.bounty-nav ul li {
  float: left;
}

/* line 601, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.bounty-nav ul li a:hover, .bounty-nav ul li a:focus, .bounty-nav ul li a {
  color: #c5cdd9;
  background-color: transparent;
  outline: none;
  padding: 5px 7px;
}

/* line 607, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.bounty-nav ul li a span {
  display: inline-block;
  margin-left: 13px;
}

/* line 611, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.bounty-nav ul li.active-hover a {
  color: #e0694c;
}

/* line 614, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.bounty-nav ul li.active a {
  background: #34353f;
  color: #fff;
}

/* line 618, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.btn-simple {
  background: #dae1ec;
  color: #34353f;
  font-size: 14px;
  font-weight: normal;
  border: 1px solid #bdc9db;
  border-radius: 0px;
}

/* line 626, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.bounty-nav .btn-simple {
  padding: 6px 33px;
}

/* line 629, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.body-contant {
  float: left;
  width: 100%;
  margin-bottom: 35px;
}

/* line 634, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.body-contant p {
  margin-bottom: 33px;
  line-height: 25px;
}

/***** Comment Header *******/
/* line 640, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.post-header {
  float: left;
  width: 100%;
}

/* line 644, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.user-info {
  float: left;
  width: 100%;
}

/* line 648, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.user-info a {
  color: #dae1ec;
}

/* line 651, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.user-info a span {
  color: #34353f;
  font-weight: 700;
  margin: 0px;
}

/* line 656, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.user-info a img {
  display: inline-block;
  border: 2px solid #dae1ec;
  margin-right: 5px;
}

/* line 661, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.user-info span {
  margin-left: 10px;
  color: #dae1ec;
}

/***** post *******/
/* line 667, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.comment-nav {
  float: left;
  width: 100%;
  margin-bottom: 20px;
}

/* line 672, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.comment-nav ul li {
  float: left;
  margin-left: 5px;
}

/* line 676, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.comment-nav ul li a, .comment-nav ul li a:hover, .comment-nav ul li a:focus {
  background: url(/assets/pattren-bg-27fa2da3c95eed6bbdd110a8c166942f83e9eb4b537ee1ef04fb1256c8ebcd1d.png) center top repeat;
  color: #686f79;
  outline: none;
}

/* line 681, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.edit-nav {
  margin-bottom: 35px;
  float: left;
  width: 100%;
}

/* line 686, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.edit-nav ul li {
  float: left;
}

/* line 689, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.edit-nav ul li a, .edit-nav ul li a:hover, .edit-nav ul li a:focus {
  background: none;
  padding: 5px;
}

/* line 693, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.edit-nav ul li a img {
  border: 0px;
}

/******** post body *********/
/* line 698, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.post-body {
  padding: 25px 30px 15px;
  background: url(/assets/pattren-bg-27fa2da3c95eed6bbdd110a8c166942f83e9eb4b537ee1ef04fb1256c8ebcd1d.png) left top repeat;
  width: 100%;
  float: left;
}

/* line 704, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.post-body h3 {
  font-size: 20px;
  color: #404450;
  margin-bottom: 30px;
}

/* line 709, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.post-body h3 span {
  color: #e0694c;
}

/* line 712, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.post-body p {
  color: #34353f;
  margin-bottom: 30px;
  line-height: 25px;
}

/****** danger box *******/
/* line 719, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.danger-box {
  background: #fbf5f3;
  border: 1px solid #e7ddd9;
  float: left;
  width: 100%;
  margin-bottom: 35px;
  padding: 45px;
}

/* line 727, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.danger-box code {
  display: block;
  color: #34353f;
  background: none;
}

/* line 732, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.danger-box p {
  margin-bottom: 0px;
  color: #34353f;
  font-size: 14px;
}

/* line 737, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.danger-box p span {
  color: #999999;
}

/* line 740, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.line {
  margin: 3px 0 5px;
  width: 100%;
  float: left;
}

/* line 745, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.rejection-panel {
  float: left;
  width: 100%;
  margin-bottom: 55px;
  padding: 25px 30px 15px;
  background: url(/assets/radish-pattren-bg-523b84d221668f6638d302a59f472ae2a70f0e1fa16cdf42e940b228c414db84.png) left top repeat;
}

/* line 752, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.rejection-panel h3 {
  font-size: 20px;
  color: #404450;
  margin-bottom: 30px;
}

/* line 757, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.rejection-panel h3 span {
  color: #e0694c;
}

/* line 760, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.btn-red {
  color: #fff;
  border: 0px;
  background: #e3785e;
  font-weight: 700;
  font-size: 18px;
  padding: 10px 13px;
  border-radius: 0px;
}

/******* user working bounty ********/
/* line 771, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.user-bounty {
  padding: 15px;
  float: left;
  width: 100%;
  background: url(/assets/pattren-bg-27fa2da3c95eed6bbdd110a8c166942f83e9eb4b537ee1ef04fb1256c8ebcd1d.png) left top repeat;
  margin-bottom: 30px;
}

/* line 778, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.user-bounty h3 {
  font-size: 18px;
  font-weight: 700;
  color: #404450;
  margin: 0px;
  padding: 0px;
}

/********** Comments Panel *********/
/* line 787, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.commtent-panel {
  float: left;
  width: 100%;
}

/* line 791, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.start-chat {
  background: url(/assets/chat-icon-993d3b45aafc8cf60887511557b0aad7fd315d5de51636938cdddb138cb0d8a8.png) left center no-repeat;
  padding-left: 25px;
  margin-left: 10px;
}

/* line 796, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.start-chat:hover, .start-chat:focus {
  text-decoration: none;
  background: url(/assets/chat-icon-hov-b0b7f98c0cbab41017a5cb066cf4ded50786c5adcff802f73424165a0518a2a1.png) left center no-repeat;
}

/* line 800, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.user-comment {
  margin-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #dce3ee;
}

/* line 805, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.rejected {
  float: right;
  margin-top: 12px;
  display: none;
}

/* line 810, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.user-comment:hover .rejected {
  display: block;
}

/* line 813, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.rejected a img {
  border: 0px;
}

/*..........Bounty2_Answer_bounty...................*/
/* line 817, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.main-heading {
  color: #404450;
  font-size: 20px;
  border-bottom: 1px solid #ccc;
  font-weight: 700;
  line-height: 43px;
  margin-bottom: 20px;
}

/* line 825, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.main-heading span {
  color: #e0694c;
  position: relative;
}

/* line 829, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.main-heading span::after {
  border-bottom: 5px solid #e0694c;
  position: absolute;
  content: '';
  position: absolute;
  left: 0px;
  width: 100%;
  height: 4px;
  bottom: -10px;
}

/* line 839, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.warning-message {
  background: url(/assets/warning-icon-f979f6ae8b003a058637d406d7fa26600506e375f31c5d594ae07afe7321eba3.png) left top no-repeat;
  padding-left: 30px;
  color: #34353f;
}

/*.............Bounty Looged...........*/
/* line 845, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.bounty-reviwing {
  float: right;
  color: #34353f;
  background: url(/assets/rewing-9fb58afc62664f97ae04dbb64cd67296d173703187a824765ea7633e234b6c81.png) left 2px no-repeat;
  padding-left: 24px;
  margin-top: 20px;
}

/* line 852, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.bounty-reviwing.bounty-dropped {
  background: url(/assets/crose-icon-a0c49cf2d083d492b266561e8fd48a127b6b310b43df47bbc20e270e590f4f55.png) left 2px no-repeat;
}

/*.............Bounty Looged...........*/
/* line 856, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.notification-left h3 {
  color: #34353f;
  font-size: 20px;
  font-weight: 700;
}

/* line 861, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.notification-list li {
  float: left;
  width: 100%;
  margin-bottom: 1px;
}

/* line 866, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.notification-list li a {
  border-bottom: 1px solid #dae1ec;
  color: #404450;
  display: block;
  height: auto;
  line-height: normal;
  padding: 10px 0;
  white-space: normal;
  word-break: break-all;
  text-decoration: none;
  font-size: 16px;
  padding: 20px;
}

/* line 879, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.notification-list li a span {
  color: #34353f;
  font-weight: 700;
}

/* line 883, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.notification-list li a label {
  color: #d1664f;
  display: inline;
  font-weight: normal;
}

/* line 888, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.notification-list li a h5 {
  color: #adb2bc;
  font-style: italic;
  font-weight: normal;
  margin-top: 10px;
  margin-bottom: 0px;
}

/* line 895, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.bg-gray {
  background: #eaeef5;
}

/*.............bounty2_tags_inside_slice...........*/
/* line 899, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.tags-selection {
  border-bottom: 1px solid #dce3ee;
}

/* line 902, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.tags-selection .chosen-container-multi .chosen-choices {
  border: none;
  border-bottom: none;
  background: none;
}

/* line 907, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.tags-selection .chosen-container {
  float: left;
  width: 93% !important;
}

/* line 911, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.tags-selection label {
  float: left;
  width: 7%;
  border-bottom: none;
  height: 40px;
  line-height: 40px;
}

/*.............Bounty2_Users_slice...........*/
/* line 919, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.uer-thumb {
  border: 2px solid #dae1ec;
  float: left;
}

/* line 923, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.user-detail {
  float: left;
  width: 100%;
}

/* line 927, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.user-detail h3 {
  margin: 0px;
  font-size: 14px;
  font-style: italic;
  font-weight: 700;
  margin-top: 7px;
}

/* line 934, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.user-detail span {
  margin: 0px;
  font-size: 14px;
  color: #c5cdd9;
  font-style: italic;
}

/* line 940, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.user-more-detail {
  margin-top: 15px;
  margin-bottom: 50px;
}

/* line 944, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.user-more-detail p {
  color: #686f79;
  font-size: 12px;
  margin-bottom: 0px;
}

/*.............tags_slice..........*/
/* line 950, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.tabs {
  width: 100%;
  float: left;
  margin-bottom: 20px;
}

/* line 955, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.tabs a {
  text-align: center;
  text-decoration: none;
  background: url(/assets/pattren-bg-27fa2da3c95eed6bbdd110a8c166942f83e9eb4b537ee1ef04fb1256c8ebcd1d.png) left center;
  font-size: 16px;
  color: #686f79;
  padding: 10px 20px;
  float: left;
}

/* line 964, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.tabs span {
  text-align: center;
  background: url(/assets/tags-ul-li-61e23845cc1a10db60ac533a9aca36779ec9c441bf75ed597fd0a1eb459e6a06.jpg) left center no-repeat;
  font-size: 14px;
  color: #ced1d7;
  padding: 0 30px;
  padding-right: 0px;
  margin-left: 20px;
  float: left;
  margin-top: 12px;
}

/* line 975, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.tabs-inn {
  float: left;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 30px;
}

/* line 981, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.tabs-inn p {
  color: #adb2bc;
  font-size: 14px;
  border-bottom: 1px #adb2bc solid;
  padding-bottom: 22px;
}

/* line 987, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.tabs-inn span {
  color: #686f79;
  font-size: 12px;
  display: block;
}

/* line 992, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.mt40 {
  margin-top: 80px;
}

/* line 995, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.tab-content .tab-pane .navbar-form .advance-search-overlay .nav-tabs.nav-justified {
  border-bottom: solid 1px #dce3ee;
}

/* line 998, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.tab-content .tab-pane .navbar-form .advance-search-overlay .nav-tabs > li > a {
  color: #34353f;
  font-size: 14px;
  border: none;
  padding: 12px 20px;
}

/* line 1004, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.tab-content .tab-pane .navbar-form .advance-search-overlay .nav-tabs.nav-justified > .active > a, .tab-content .tab-pane .navbar-form .advance-search-overlay .nav-tabs.nav-justified > .active > a:hover, .tab-content .tab-pane .navbar-form .advance-search-overlay .nav-tabs.nav-justified > .active > a:focus {
  color: #ffffff;
  font-size: 14px;
  background-color: #34353f;
  border-radius: 0px;
  border: none;
}

/* line 1011, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.tab-content .tab-pane .navbar-form .advance-search-overlay .nav-tabs > li > a:hover {
  border-color: #34353f;
  background-color: #34353f;
  border-radius: 0px;
  color: #ffffff;
  border: none;
  font-size: 14px;
}

/* line 1019, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.advance-search-overlay {
  background: #f2f5f9;
  box-shadow: none;
  border-radius: 0;
  width: 700px;
  min-width: inherit;
  padding: 0px;
  float: none;
  position: relative;
  border-color: #dce3ed;
  margin-top: 5px;
}

/* line 1031, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.advance-search-overlay-arrow {
  position: absolute;
  left: 320px;
  top: -18px;
  width: 19px;
  height: 9px;
}

/* line 1038, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.advance-search-overlay .tab-content {
  padding: 27px 17px;
}

/* line 1041, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.advance-search-overlay .tab-content h4 {
  color: #515057;
  font-size: 14px;
  font-weight: bold;
  border-bottom: solid 1px #d5dae2;
  padding-bottom: 10px;
}

/* line 1050, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.tab-content .tab-pane .navbar-form .advance-search-overlay .form-control.form-control-custom {
  background-color: #FFF;
  background-image: none;
  max-width: 201px;
  height: 29px;
  padding-right: 12px;
}

/* line 1057, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.tab-content .tab-pane .navbar-form .advance-search-overlay .form-control {
  background: #FAFCFE none repeat scroll 0% 0%;
  border-color: #DCE3EE;
  border-radius: 0px;
  box-shadow: none;
  height: 38px;
  color: #72737D;
  font-size: 14px;
  margin-right: 0px;
}

/* line 1067, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.tab-content .tab-pane .navbar-form .advance-search-overlay .form-group {
  margin-bottom: 15px;
}

/* line 1070, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.tab-content .tab-pane .navbar-form .advance-search-overlay .select-lang {
  margin-left: 0px;
  max-width: 201px;
  float: none;
}

/* line 1075, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.tab-content .tab-pane .navbar-form .advance-search-overlay .select-lang a {
  color: #515057;
  font-size: 14px;
}

/* line 1079, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.tab-content .tab-pane .navbar-form .advance-search-overlay .select-lang .chosen-container-single .chosen-single {
  background: #FFF;
  border-color: #dae1ec;
  height: 28px;
  line-height: 28px;
}

/* line 1085, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.tab-content .tab-pane .navbar-form .advance-search-overlay .select-lang .chosen-container-single .chosen-single span {
  line-height: 26px;
}

/* line 1088, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.tab-content .tab-pane .navbar-form .advance-search-overlay .select-lang .chosen-container-single .chosen-single div b {
  background: transparent url(/lang-arrow.png) no-repeat scroll left center;
}

/* line 1091, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.chosen-container {
  width: 100% !important;
}

/* line 1094, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.tab-content .tab-pane .navbar-form .advance-search-overlay .time-left label {
  font-weight: normal;
  margin: 10px 0 !important;
}

/* line 1098, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.form-control-multiple option {
  margin: 6px 0px;
}

/* line 1101, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.form-control-multiple option:first-child {
  margin: 0px;
}

/* line 1104, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.tab-content .tab-pane .navbar-form .advance-search-overlay .request-alerts label {
  margin: 2px 0 !important;
  color: #515057;
  font-size: 14px;
}

/* line 1109, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.request-alerts .radio {
  display: block;
}

/* line 1112, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.request-alerts label input {
  margin-right: 5px;
}

/* line 1115, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.request-btns {
  margin-top: 15px;
}

/* line 1118, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.btn-save {
  background: #34353f;
  color: #fff;
  padding: 4px 25px;
  border-radius: 0;
  margin-right: 5px;
}

/* line 1125, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.btn-save:hover, .btn-save:focus {
  color: #FFF;
}

/* line 1128, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.btn-search {
  background: #e0694c;
  padding: 4px 30px;
  color: #fff;
  border-radius: 0;
}

/* line 1134, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.btn-search:hover, .btn-search:focus {
  color: #FFF;
}

/********* Profile page *********/
/* line 1139, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.custom-list ul li a, .custom-list ul li a:hover, .custom-list ul li a:focus {
  color: #7c7a87;
  text-decoration: none;
  outline: none;
  font-size: 14px;
}

/* line 1145, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.info-list-nav {
  width: 100%;
  margin-top: 30px;
}

/* line 1149, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.info-list-nav ul li {
  margin-bottom: 10px;
}

/* line 1152, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.info-list-nav ul li a:hover, .info-list-nav ul li a:focus, .info-list-nav ul li a, .info-list-nav ul li {
  color: #c5cdd9;
  background: none;
  padding: 0px;
  outline: none;
}

/* line 1158, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.info-list-nav ul li img {
  margin-right: 10px;
}

/*** josilber panel*****/
/* line 1163, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.josilber-panel {
  float: left;
  width: 100%;
  padding-bottom: 20px;
}

/* line 1168, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.josilber-panel h3 {
  color: #e0694c;
  display: inline-block;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 15px;
  display: inline-block;
  margin-bottom: 15px;
  margin-top: 0px;
}

/* line 1178, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.josilber-panel a {
  color: #adb2bc;
  display: inline-block;
  font-size: 14px;
  margin-top: 10px;
}

/* line 1184, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.josilber-panel p {
  color: #adb2bc;
  font-size: 14px;
}

/* line 1188, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.josilber-list {
  float: left;
  width: 100%;
  margin-bottom: 60px;
}

/* line 1193, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.josilber-list ul li {
  float: left;
  color: #adb2bc;
  font-size: 14px;
  margin-right: 10px;
}

/* line 1199, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.josilber-list ul li span {
  margin-left: 10px;
}

/****** resolved panel ******/
/* line 1204, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.resolved-panel {
  float: left;
  width: 100%;
  background: url(/assets/pattren-bg-27fa2da3c95eed6bbdd110a8c166942f83e9eb4b537ee1ef04fb1256c8ebcd1d.png) left top repeat;
  padding: 25px 15px 15px;
}

/* line 1210, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.resolved-panel ul li {
  color: #7c7a87;
  font-size: 14px;
  border-bottom: 1px solid #dce3ee;
  padding-bottom: 23PX;
  margin-bottom: 25px;
  padding-left: 45px;
}

/* line 1218, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.resolved-panel ul li span {
  color: #d1593b;
  font-weight: bold;
  font-size: 18px;
  position: absolute;
  left: 0;
  top: 0;
}

/* line 1226, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.resolved-panel ul li:last-child {
  border-bottom: 0px;
  margin-bottom: 0px;
}

/* line 1230, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.resolved-panel ul li h3 {
  color: #d1593b;
  margin: 0px;
  font-weight: bold;
  font-size: 18px;
  position: absolute;
  left: 0;
  top: 0;
}

/* line 1241, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.custom-breadcrumb li a, .custom-breadcrumb li a:active, .custom-breadcrumb li a:hover, .custom-breadcrumb li a:focus {
  padding: 15px 5px 18px;
  background-color: transparent;
  outline: none;
  box-shadow: none;
  color: #34353f;
  font-size: 17px;
  border-bottom: 1px solid #dce3ee;
  position: relative;
  font-weight: 700;
}

/* line 1252, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.custom-breadcrumb li a span {
  color: #e0694c;
}

/* line 1255, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.custom-breadcrumb li a img {
  margin-right: 10px;
}

/* line 1258, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.custom-breadcrumb > li + li a:before {
  color: #ccc;
  content: "/ ";
  left: -10px;
  position: absolute;
  padding: 0 5px;
  color: #c5cdd9;
}

/* line 1266, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.popover.fade.bottom {
  border: 2px solid #5d5d65;
  border-radius: 0px;
  padding: 0;
  width: 100%;
  max-width: 500px;
}

/* line 1273, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.popover.fade.bottom .arrow {
  display: none;
}

/* line 1276, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.popover-content {
  padding: 0px;
}

/* line 1279, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.popover-header {
  background: none repeat scroll 0 0 #34353f;
  margin: -20px 0 0;
  min-height: 48px;
  padding: 0;
}

/* line 1285, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.popover-header h3 {
  line-height: 48px;
  color: #fff;
}

/* line 1289, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.popover-header h3 span {
  background: #d0593c;
  color: #fff;
  display: inline-block;
  margin-right: 15px;
  padding: 0 15px;
}

/* line 1296, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.custom-popover-body {
  padding: 10px 15px 15px;
}

/* line 1299, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.total-balance {
  display: inline-block;
  position: relative;
  padding-left: 15px;
  margin: 0px;
}

/* line 1305, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.total-balance:before {
  color: #ccc;
  content: "/ ";
  left: 0px;
  position: absolute;
  padding: 0 5px;
  top: 5px;
  color: #c5cdd9;
}

/* line 1314, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.total-balance span {
  color: #d0593c;
  font-weight: 700;
  font-size: 18px;
  display: inline-block;
  margin-right: 15px;
  padding: 0 15px;
}

/* line 1322, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.custom-popover-body .line {
  margin: 20px 0;
}

/* line 1325, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.custom-popover-body ul li {
  float: left;
  margin-right: 15px;
}

/* line 1329, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.custom-popover-body ul li input {
  margin-right: 10px;
}

/* line 1332, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.sm-btn-red, .sm-btn-red:hover, .sm-btn-red:focus {
  background: #e3785e;
  outline: none;
  box-shadow: none;
  border: 0 none;
  border-radius: 0;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  padding: 5px 13px;
}

/* line 1343, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.mt9 {
  margin-top: 9px;
}

/* line 1346, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.mb15 {
  margin-bottom: 15px !important;
}

/* line 1349, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.pl0 {
  padding-left: 0px !important;
}

/* line 1352, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.mtb20 {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* line 1356, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.mt40 {
  margin-top: 80px;
}

/* line 1359, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.mb55 {
  margin-bottom: 55px;
}

/* line 1362, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.mt10 {
  margin-top: 10px;
}

/* line 1365, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.mb0 {
  margin-bottom: 0px !important;
}

/* line 1368, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.pr0 {
  padding-right: 0px;
}

/* line 1371, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.mr13 {
  margin-right: 13px;
}

/* line 1374, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.mb30 {
  margin-bottom: 30px;
}

/* line 1377, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.ml8 {
  margin-left: 8px;
}

/* line 1380, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.modal-header {
  background: #34353f none repeat scroll 0 0;
  min-height: 48px;
  padding: 0;
}

/* line 1385, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.modal-header h3 {
  color: #fff;
  line-height: 48px;
  font-size: 18px;
  padding-left: 15px;
}

/* line 1391, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.modal-body {
  background: #eaeef5;
}

/* line 1394, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.model-body-inn {
  background: #fff;
  padding: 10px;
  border: 1px solid #dae1ec;
}

/* line 1399, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.modal-footer {
  background: #eaeef5;
}

/* line 1402, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.rejection {
  background: #e0694c;
  border-radius: 0;
  border: 1px solid #e0694c;
  font-weight: 700;
  color: #fff;
}

/* line 1409, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.modal-header .close {
  opacity: 1;
  margin-right: 20px;
  margin-top: 10px;
}

/*.............bounty2_view_bounty_slice...........*/
/* line 1415, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.bounty-nav ul li.bounty-state {
  background: #34353f;
  color: #fff;
  outline: medium none;
  padding: 0px 7px;
}

/* line 1421, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.bounty-nav ul li {
  line-height: 30px;
  margin-right: 10px;
  color: #c5cdd9;
}

/* line 1426, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.bounty-nav ul li.bounty-resolution {
  margin-right: 10px;
}

/* line 1429, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.bounty-nav ul li.bounty-resolution.accpeted {
  color: #43912b;
}

/* line 1432, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.bounty-nav ul li.bounty-resolution.no-resolution {
  color: #e0694c;
}

/* line 1435, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.edit-nav ul li a, .edit-nav ul li a:hover, .edit-nav ul li a:focus, .user-info span {
  color: #bfc5cd;
}

/* line 1438, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.award {
  display: none;
  float: right;
  margin-top: 12px;
}

/* line 1443, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.award a {
  color: #e0694c;
}

/* line 1446, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.award a img {
  border: none;
}

/* line 1449, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.user-comment:hover .award {
  display: block;
}

/* line 1452, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.accepted-bounty-bg {
  background: url(/assets/accepted-bg-614454ce60fac0bb81acd28477450cc5f52964f6fc75a31e9cab30415e800baf.jpg) left top repeat !important;
}

/* line 1455, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.bounty-nav ul li.bounty-state.open-lock {
  background: #34353f url(/assets/lock-3c289db03286c9991c9557688434253cd11d1051349d53d5ec4902435e124cce.jpg) 10px center no-repeat;
  padding-left: 25px;
}

/* line 1459, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.edit-nav ul li.accept a {
  color: #63a23e;
  font-size: 700;
}

/* line 1463, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.edit-nav ul li.reject a {
  font-weight: bold;
  color: #e0694c;
}

/* line 1467, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
.edit-nav {
  margin-top: 9px;
}

/*.............Start Media Queries...........*/
/*....Sh Home page..*/
@media only screen and (max-width: 980px) {
  /* line 1474, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
  .open-bounties-header .open-bounties-price {
    float: none;
    display: block;
  }

  /* line 1478, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
  .open-bounties-header h3 {
    padding-left: 0px;
    margin-bottom: 0px;
  }

  /* line 1482, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
  .open-bounties-desc {
    margin-bottom: 20px;
  }

  /* line 1485, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
  .open-bounties-tags {
    float: left;
  }

  /* line 1488, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
  .warning-message {
    display: block;
    margin-top: 10px;
  }
}
/*....Sh Home page..*/
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* line 1496, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
  .nav.navbar-nav li a {
    font-size: 13px;
    padding-left: 14px;
    padding-right: 15px;
  }

  /* line 1501, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
  .navbar-form .form-control {
    max-width: 200px;
  }
}
@media only screen and (max-width: 767px) {
  /* line 1507, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
  .navbar-default .navbar-collapse {
    padding-left: 0;
    padding-right: 0;
  }

  /* line 1511, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
  .nav.navbar-nav {
    margin: 0px;
    width: 100%;
  }

  /* line 1515, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
  .navbar-form {
    float: left;
    width: 100%;
  }

  /* line 1519, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
  .nav.navbar-nav {
    width: 100%;
  }

  /* line 1522, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
  .navbar-form {
    padding-left: 40px;
    border-bottom: 0;
  }

  /* line 1526, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
  footer .pull-right {
    float: left !important;
  }

  /*....Sh Home page..*/
  /* line 1530, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
  .open-bounties-list {
    margin: 10px 0px 20px;
  }

  /* line 1533, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
  .open-bounties-tags a {
    margin-bottom: 5px;
    display: inline-block;
    float: none;
  }

  /* line 1538, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
  .tab-content {
    padding: 10px 0;
  }

  /* line 1541, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
  .comment-nav .nav {
    float: left !important;
    margin-left: 0px;
    margin-top: 20px;
  }

  /* line 1546, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
  .sec-line, .first-line {
    display: none;
  }

  /* line 1549, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
  .how-it-work-inn {
    width: 100%;
    margin-bottom: 20px;
  }

  /* line 1553, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
  .how-it-work-inn.first {
    margin-top: 0px;
  }

  /* line 1556, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
  .tab-content .tab-pane .navbar-form a.dropdown-toggle {
    display: none;
  }

  /* line 1559, /home/giladkl/Development/bountyapp/app/assets/stylesheets/style.scss */
  .dropdown-menu.advance-search-overlay {
    display: none;
  }
}
