<% load_notifications %>
<div class="dropdown"> 
  <a id="dLabel" data-target="#" href="" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">  <%= image_tag("alert.jpg") %><span id="notifications-count" class="alert-count"><%=@total_notification_count%></span></a>
  <% if @total_notification_count != 0 %>
            <ul class="dropdown-menu" aria-labelledby="dLabel" id="notifications">
              <% @notifications.each do |n| %>
                <%= notification_html(n.message, n.created_at) %>
              <% end %>
              
              <li><a class="btn btn-default custom-btn" href="#" role="button">View All</a></li>
            </ul>
          </div>
          <% end %>