<% @bounties.each do |bounty| %>
	<p>
	title: <%= bounty.title %>
	<br>
	description: <%= bounty.description %>
	<br>
	</p>
<% end %>



<br><br><br>
Viewer: <% if @signed_in_user %>
<%= @signed_in_user.email %>
<% end %>