<div class="post-body">
          <h3><%= image_tag("comment-icon.png")%> Resolution is <span>REJECTED</span></h3>
          <%= markdown(bounty_hunter.answer.description) %>
        </div>

<div class="rejection-panel">
          <h3><%= image_tag("error-icon.png")%> Reason for <span>REJECTION</span></h3>
          <p><%= bounty_hunter.answer.denial_reason %></p>
      </div>
