<div class="post-body">
          <h3><img src="images/comment-icon.png"> Resolution is <span>REJECTED</span></h3>
          <%= markdown(@bounty.description) %>
        </div>

<div class="rejection-panel">
          <h3><%= image_tag("error_icon.png") %> Reason for <span>REJECTION</span></h3>
          <p>This sulution was tried and it did not worked.  It gave an error that mess up everything else. I don’t think this was the right approach to my problem. Sorry, but I will wait for another solution.</p>
          <a href="#" class="btn btn-red"> DISPUTE </a> 
      </div>