<div class="post-body accepted-bounty-bg">
<h3> Want to answer this bounty and earn the money? </h3>
<br>
<%= link_to "Sign up to bounty", new_user_session_path, class: "log-in-to-bounty-bounty-show" %>
</div>