$( document ).ready(function() {

  $("#work_on_bounty").click(function() {
    $(this).remove();
  });

  var tabs_pages = [0,0,0];
  var page = 0;
  $(".load-more").click(function() {

  		var preview_bounty_string;
  		var html_loagin_pre_change = $(".load-more").html();
  		$(this).html('<span class="loading">loading...</span>');

  		var params = "";
		switch ($(this).parent().attr('id')) {
		    case "open":
		        params += "&status=0";
		        tabs_pages[0] += 1
		        page = tabs_pages[0]
		        break;
		    case "resolved":
		        params += "&status=2";
		        tabs_pages[1] += 1
		        page = tabs_pages[1]
		        break;
		    case "my":
		        params += "&user_id=" + gon.user_id;
		        tabs_pages[2] += 1
		        page = tabs_pages[2]
		        break;
		}

  		$.ajax({url: "/api/bounties?offset=" + page*10 + params, success: function(response){
  			bounties = response.items
  			for (i = 0; i < bounties.length; i++) { 
	  			preview_bounty_string = '<div class="open-bounties-list"> \
					    <div class="open-bounties-header"> <a href="' + bounties[i].link + '"><span class="open-bounties-views"><i><%= image_tag("eye.png") %></i>' + bounties[i].views + '</span> <span class="open-bounties-price">$' + bounties[i].price + '</span> \
					        <h3>' + bounties[i].title + '</h3></a> \
					      </div> \
					      <div class="clearfix"></div> \
					      <div class="open-bounties-list-desc"> \
					        <div class="row"> \
					          <div class="col-md-6"> \
					            <div class="open-bounties-desc">' + bounties[i].working_users_count + ' users working - by <span>' + bounties[i].poster.email + '</span> - ' + bounties[i].time_ago_in_words + ' ago</div> \
					          </div> \
					          <div class="col-md-6"> \
					            <div class="open-bounties-tags">';
				for (x = 0; x < bounties[i].tags.length; x++) { 
					preview_bounty_string += '<a href="#">' + bounties[i].tags[x] + '</a>';
				}
				preview_bounty_string += '</div> \
					          </div> \
					        </div> \
						</div> \
					</div> \
					<hr>';
	        	$(this).before(preview_bounty_string);
			}
			if (response.has_more)
        	{
				$(this).html(html_loagin_pre_change);
			}
			else
			{
				$(this).remove();
			}
    	}.bind(this)});
	});
});