* {
	padding: 0px;
	margin: 0px;
}
body {
	font-size: 14px;
	color: #000;
	font-family: 'Open Sans', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}
ul, li {
	list-style: none;
	margin: 0px;
}
a {
	text-decoration: none;
}
.container {
	width: 100%;
	max-width: 1170px;
}
.clr {
	clear: both;
}
.mt9 {
	margin-top: 9px;
}
.mb15 {
	margin-bottom: 15px !important
}
/*..........Main Style..............*/
/*..........Header Style..............*/
header {
	padding-bottom: 15px;
}
.logo {
	float: left;
	margin-top: 15px;
}
.right-content {
	float: right;
}
.right-content ul li {
	float: left;
	margin: 0px 20px;
	position: relative;
}
.right-content ul {
	float: left;
}
.right-content ul li a {
	float: left;
	height: 82px;
	line-height: 80px;
	color: #b9bdc6;
}
.right-content ul li:last-child {
	margin-right: 0px;
}
.right-content ul li:last-child a {
	background: #f1f4f9;
	color: #34353f;
	padding: 0px 30px;
}
.right-content ul li a span.alert-count {
	background: #e0694c;
	height: 18px;
	width: 18px;
	border-radius: 30px;
	color: #fff;
	position: absolute;
	top: 14px;
	line-height: normal;
	text-align: center;
}
.right-content ul li .dropup, .right-content ul li .dropdown {
	height: 82px;
}
.right-content ul li .dropdown-menu {
	left: -110px !important;
	width: 270px;
	background: #f1f4f9;
	border-radius: 0px;
	box-shadow: none;
	margin-top: 0px;
}
.right-content ul li .dropdown-menu li {
	width: 100%;
	margin-left: 0px;
	padding: 0px 27px;
}
.right-content ul li .dropdown-menu li a {
	border-bottom: 1px solid #dae1ec;
	display: block;
	word-break: break-all;
	white-space: normal;
	line-height: normal;
	height: auto;
	padding: 10px 0px;
	color: #adb2bc;
}
.right-content ul li .dropdown-menu li a:hover {
	background: none;
}
.right-content ul li .dropdown-menu li a span {
	color: #34353f;
}
.right-content ul li .dropdown-menu li a label {
	display: inline;
	font-weight: normal;
	color: #d1664f;
}
.right-content ul li .dropdown-menu li a h5 {
	font-weight: normal;
	color: #adb2bc;
	font-style: italic;
	margin-top: 5px;
}
.right-content ul li .dropdown-menu li a.custom-btn {
	background: #34353f;
	border-radius: 0;
	border: 1px solid #dae1ec;
	color: #fff;
	margin-top: 15px;
	padding: 7px 20px;
}
.btn.custom-btn {
	background: #34353f;
	border-radius: 0;
	border: 1px solid #dae1ec;
	color: #fff;
	padding: 7px 20px;
}
.navbar-default .navbar-nav > li > a {
	height: 45px;
	line-height: 17px;
}
.nav.navbar-nav {
	float: right;
}
.navbar-default .navbar-brand {
	height: 45px;
	line-height: 17px;
	background: #e0694c;
	color: #fff;
	font-size: 16px;
	font-weight: 700;
	text-shadow: 0px 0px 1px #d06247;
}
.nav.navbar-nav {
	background: #dae1ec;
}
.nav.navbar-nav li {
	border-left: 1px solid #eaeef5;
}
.nav.navbar-nav li a {
	font-size: 14px;
	padding-left: 25px;
	padding-right: 25px;
}
.navbar-form {
	margin-top: 8px;
}
.navbar {
	min-height: 47px;
}
.navbar-form .form-control {
	background: #f1f4f9 url(asset_path("search-icon.png")) 96% 5px no-repeat;
	border: 1px solid #d5dae2;
	border-radius: 0;
	box-shadow: none;
	height: 29px;
	padding-right: 40px;
	margin-right: 15px;
}
.navbar-form a {
	color: #adb2bc;
}
/* Start Left Side */
.left-side {
	max-width: 700px;
}
.control-label {
	color: #34353f;
	font-size: 15px;
	margin-bottom: 10px;
}
.form-control {
	background: #fafcfe;
	border-color: #dce3ee;
	border-radius: 0;
	box-shadow: none;
	height: 38px;
	color: #72737d;
	font-size: 14px;
}
.form-control:focus {
	box-shadow: none;
	border-color: #e0694c;
}
/*  The rest is from Twitter Bootstrap */
input, .input-append {
	display: inline-block;
	vertica-align: middle;
}
.input-append .form-control {
	background: #fafcfe;
	border-color: #dce3ee;
	border-radius: 0;
	box-shadow: none;
	height: 38px;
	color: #72737d;
	display: inline-block;
	font-size: 14px;
	width: 170px;
	margin: 0px;
	float: left;
}
.btn-file {
	background: #eaeef5;
	border-radius: 0;
	padding: 8px 22px;
	margin: 0px;
	border-color: #dce3ee;
	border-left: 0px;
	float: left;
	color: #72737d;
	font-size: 14px;
}
.chosen-container-multi .chosen-choices {
	background: #fafcfe;
	border-color: #dce3ee;
	border-radius: 0;
	padding: 3px 12px;
	box-shadow: none;
	color: #72737d;
	display: inline-block;
	font-size: 14px;
}
.chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
	top: 8px;
	right: 7px;
}
.chosen-container-multi .chosen-choices li.search-choice {
	border: none;
	padding: 8px 25px 6px 13px;
	background: url(asset_path("tags-bg.png")) left top repeat-x;
}
.chosen-container-multi .chosen-choices li.search-choice span {
	color: #686f79;
	font-size: 14px;
}
.chosen-container.chosen-with-drop .chosen-drop {
	border-color: #dce3ee;
	box-shadow: none;
	border-top: 1px solid #dce3ee
}
.w66 {
	width: 66px !important;
}
.select-option {
	float: left;
	width: 80px;
	margin-left: 10px;
}
.select-option .chzn-select {
	float: left;
	width: 100%;
}
.chosen-container-single .chosen-single {
	background: #fafcfe;
	border-radius: 0;
	box-shadow: none;
	height: 38px;
	border: 1px solid #dce3ee;
}
.chosen-container-single .chosen-single span {
	line-height: 34px;
}
.chosen-container-single .chosen-single div b {
	background: url(asset_path("down-arrow.jpg")) left no-repeat;
}
.chosen-search {
	display: none;
}
.ui-spinner.ui-widget.ui-widget-content.ui-corner-all {
	background: none;
	border: none;
}
.ui-spinner-input {
	background: #fafcfe none repeat scroll 0 0;
	border: #dce3ee 1px solid;
	border-radius: 0;
	box-shadow: none;
	color: #e0694c;
	font-size: 18px !important;
	height: 38px;
	margin-left: 0px;
	width: 66px;
	text-align: center;
	font-weight: 700;
}
.ui-icon-triangle-1-n {
	background: url(asset_path("toparrow.png")) left 5px no-repeat !important;
}
.ui-spinner .ui-icon-triangle-1-s {
	background: url(asset_path("down-arrow.png")) left top no-repeat;
}
.set-deadline label {
	margin-bottom: 5px;
	margin-top: 15px;
}
.wmd-panel {
	min-width: 100%;
}
.line {
	border-top: 1px solid #dce3ee
}
/*.............right side...........*/
.block-img {
	width: 100%;
	max-width: none;
}
.custom-list h3 {
	padding-bottom: 3px;
	color: #29282e;
	border-bottom: 1px solid #e7eaed;
	margin-bottom: 20px;
}
.custom-list h3 span {
	border-bottom: 1px solid #e7eaed;
	display: block;
	padding-bottom: 10px;
	font-size: 18px;
}
.dolor-icon {
	margin-right: 5px;
	margin-top: -4px;
}
.custom-list ul li {
	padding-right: 30px;
	margin-bottom: 25px;
	color: #7c7a87;
	font-size: 14px;
	position: relative;
}
.custom-list ul li span {
	position: absolute;
	right: 0px;
	top: 0px;
	color: #d1593b;
	font-weight: bold;
}
.custom-list.most-veiwed ul li span {
	color: #7c7a87;
}
footer {
	background: #34353f;
	padding: 10px 0px;
	color: #adb2bc;
	font-size: 12px;
}
.btn.footer-btn {
	background-color: transparent;
	border: 1px solid #4c4d58;
	border-radius: 0;
	padding: 12px 30px;
	font-weight: 700;
	color: #fff;
	font-size: 18px;
	transition: .2s all ease-in-out
}
.btn.footer-btn:hover {
	background: #fff;
	color: #34353f;
}
footer .pull-right a {
	margin-right: 10px;
}
/*..........Index.............*/
.jumbotron {
	background: url(asset_path('banner.jpg')) left top no-repeat;
	background-size: cover;
	text-align: center;
	color: #fff;
	margin-bottom: 0px;
}
.jumbotron h2 {
	color: #ffffff;
	font-size: 32px;
	font-weight: 700;
}
.jumbotron h3 {
	color: #e0694c;
	font-size: 26px;
	font-weight: 700;
}
.jumbotron h4 {
	color: #fff;
	font-size: 22px;
	font-weight: 700;
}
.how-it-works {
	background: #34353f;
	padding: 40px 0px;
	margin-bottom: 50px;
}
.how-it-work-wrapper {
	max-width: 710px;
	margin: auto;
}
.how-it-work-inn {
	float: left;
	width: 33%;
	text-align: center;
	color: #fff;
}
.how-it-work-inn.first {
	margin-top: 55px;
}
.works-heading {
	color: #fff;
	font-size: 30px;
	margin-bottom: 20px;
}
.works-heading span {
	color: #e0694c;
}
.how-it-work-inn span {
	color: #9593a0;
	font-size: 18px;
	font-style: italic;
}
/*.............Home Page...........*/
.nav-tabs > li > a {
	padding: 18px 20px;
	border-bottom: none;
	color: #34353f;
	font-size: 18px;
}
.nav-tabs > li > a:hover {
	border-color: #dae1ec;
	background-color: #FFF;
	border-radius: 0;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
	border-radius: 0;
	border-color: #dae1ec;
	background-color: #FFF;
	border-bottom: none;
	border-radius: 0;
	color: #34353f;
	font-weight: bold;
	outline: none;
}
.tab-content {
	padding: 40px 0;
}
.tab-content .tab-pane .navbar-form {
	padding-left: 0px;
	margin: 0;
}
.tab-content .tab-pane .navbar-form .form-control {
	width: 255px;
}
.tab-content .tab-pane .navbar-form a {
	color: #e0694c;
	font-size: 14px;
}
.open-bounties-list {
	margin: 25px 0 30px 0;
}
.open-bounties-list:last-child {
	margin-bottom: 10px;
}
.open-bounties-header {
}
.open-bounties-header .open-bounties-price {
	color: #e0694c;
	font-size: 30px;
	font-weight: bold;
	float: left;
}
.open-bounties-header h3 {
	margin-top: 12px;
	color: #404450;
	font-size: 18px;
	font-weight: bold;
	padding-left: 30px;
	display: inline-block;
}
.open-bounties-header .open-bounties-views {
	float: right;
	color: #c5cdd9;
	font-size: 14px;
	margin-top: 12px;
}
.open-bounties-header .open-bounties-views i {
	margin-right: 2px;
}
.open-bounties-list-desc {
	margin-top: 20px;
}
.open-bounties-desc {
	color: #adb2bc;
	font-size: 13px;
	font-style: italic;
}
.open-bounties-desc span {
	color: #34353f;
}
.open-bounties-desc a {
	color: #e0694c;
}
.open-bounties-tags {
	float: right;
}
.open-bounties-tags a {
	padding: 5px 18px;
	color: #686f79;
	margin-right: 5px;
	font-size: 14px;
	background: url(asset_path("tags-bg.png")) left top repeat-x;
	float: left;
}
.reviewing {
	font-style: italic;
}
.load-more {
	text-align: center;
}
.load-more a {
	color: #404450;
	font-size: 24px;
}
.load-more a:hover {
	text-decoration: none;
}
.load-more span {
	display: block;
}
.left-body {
	float: left;
	width: 100%;
}
.left-body h2 {
	font-weight: 700;
	font-size: 24px;
	color: #404450;
	border-bottom: 1px solid #dce3ee;
	padding-bottom: 35px;
	margin-bottom: 15px;
}
.left-body h2 span {
	font-size: 30px;
	color: #e0694c;
	display: inline-block;
	margin-right: 5px;
}
.bounty-nav {
	float: left;
	width: 100%;
	margin-bottom: 35px;
}
.bounty-nav ul {
	float: left;
}
.bounty-nav ul li {
	float: left;
}
.bounty-nav ul li a:hover, .bounty-nav ul li a:focus, .bounty-nav ul li a {
	color: #c5cdd9;
	background-color: transparent;
	outline: none;
	padding: 5px 7px;
}
.bounty-nav ul li a span {
	display: inline-block;
	margin-left: 13px;
}
.bounty-nav ul li.active-hover a {
	color: #e0694c;
}
.bounty-nav ul li.active a {
	background: #34353f;
	color: #fff;
}
.btn-simple {
	background: #dae1ec;
	color: #34353f;
	font-size: 14px;
	font-weight: normal;
	border: 1px solid #bdc9db;
	border-radius: 0px;
}
.bounty-nav .btn-simple {
	padding: 10px 33px;
}
.body-contant {
	float: left;
	width: 100%;
	margin-bottom: 35px;
}
.body-contant p {
	margin-bottom: 33px;
	line-height: 25px;
}
/***** Comment Header *******/

.post-header {
	float: left;
	width: 100%;
}
.user-info {
	float: left;
	width: 100%;
}
.user-info a {
	color: #dae1ec;
}
.user-info a span {
	color: #34353f;
	font-weight: 700;
	margin: 0px;
}
.user-info a img {
	display: inline-block;
	border: 2px solid #dae1ec;
	margin-right: 5px;
}
.user-info span {
	margin-left: 10px;
	color: #dae1ec;
}
/***** post *******/

.comment-nav {
	float: left;
	width: 100%;
	margin-bottom: 20px;
}
.comment-nav ul li {
	float: left;
	margin-left: 5px;
}
.comment-nav ul li a, .comment-nav ul li a:hover, .comment-nav ul li a:focus {
	background: url(asset_path("pattren-bg.png")) center top repeat;
	color: #686f79;
	outline: none;
}
.edit-nav {
	margin-bottom: 35px;
	float: left;
	width: 100%;
}
.edit-nav ul li {
	float: left;
}
.edit-nav ul li a, .edit-nav ul li a:hover, .edit-nav ul li a:focus {
	background: none;
	padding: 5px;
}
.edit-nav ul li a img {
	border: 0px;
}
/******** post body *********/

.post-body {
	padding: 25px 30px 15px;
	background: url(asset_path("pattren-bg.png")) left top repeat;
	width: 100%;
	float: left;
}
.post-body h3 {
	font-size: 20px;
	color: #404450;
	margin-bottom: 30px;
}
.post-body h3 span {
	color: #e0694c;
}
.post-body p {
	color: #34353f;
	margin-bottom: 30px;
	line-height: 25px;
}
/****** danger box *******/

.danger-box {
	background: #fbf5f3;
	border: 1px solid #e7ddd9;
	float: left;
	width: 100%;
	margin-bottom: 35px;
	padding: 45px;
}
.danger-box code {
	display: block;
	color: #34353f;
	background: none;
}
.danger-box p {
	margin-bottom: 0px;
	color: #34353f;
	font-size: 14px;
}
.danger-box p span {
	color: #999999;
}
.line {
	margin: 3px 0 5px;
	width: 100%;
	float: left;
}
.rejection-panel {
	float: left;
	width: 100%;
	margin-bottom: 55px;
	padding: 25px 30px 15px;
	background: url(asset_path("radish-pattren-bg.png")) left top repeat;
}
.rejection-panel h3 {
	font-size: 20px;
	color: #404450;
	margin-bottom: 30px;
}
.rejection-panel h3 span {
	color: #e0694c;
}
.btn-red {
	color: #fff;
	border: 0px;
	background: #e3785e;
	font-weight: 700;
	font-size: 18px;
	padding: 10px 13px;
	border-radius: 0px;
}
/******* user working bounty ********/

.user-bounty {
	padding: 15px;
	float: left;
	width: 100%;
	background: url(asset_path("pattren-bg.png")) left top repeat;
	margin-bottom: 30px;
}
.user-bounty h3 {
	font-size: 18px;
	font-weight: 700;
	color: #404450;
	margin: 0px;
	padding: 0px;
}
/********** Comments Panel *********/

.commtent-panel {
	float: left;
	width: 100%;
}
.start-chat {
	background: url(asset_path('chat-icon.png')) left center no-repeat;
	padding-left: 25px;
	margin-left: 10px;
}
.start-chat:hover, .start-chat:focus {
	text-decoration: none;
	background: url(asset_path('chat-icon-hov.png')) left center no-repeat;
}
.user-comment {
	margin-top: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #dce3ee;
}
.rejected {
	float: right;
	margin-top: 12px;
	display: none;
}
.user-comment:hover .rejected {
	display: block;
}
.rejected a img {
	border: 0px;
}
/*..........Bounty2_Answer_bounty...................*/
.main-heading {
	color: #404450;
	font-size: 20px;
	border-bottom: 1px solid #ccc;
	font-weight: 700;
	line-height: 43px;
	margin-bottom: 20px;
}
.main-heading span {
	color: #e0694c;
	position: relative
}
.main-heading span::after {
	border-bottom: 5px solid #e0694c;
	position: absolute;
	content: '';
	position: absolute;
	left: 0px;
	width: 100%;
	height: 4px;
	bottom: -10px;
}
.warning-message {
	background: url(asset_path('warning-icon')) left top no-repeat;
	padding-left: 30px;
	color: #34353f;
}
/*.............Bounty Looged...........*/
.bounty-reviwing {
	float: right;
	color: #34353f;
	background: url(asset_path('rewing')) left 2px no-repeat;
	padding-left: 24px;
	margin-top: 20px;
}
.bounty-reviwing.bounty-dropped {
	background: url(asset_path('crose-icon')) left 2px no-repeat;
}
/*.............Bounty Looged...........*/
/*.............Start Media Queries...........*/
/*....Sh Home page..*/
@media only screen and (max-width : 980px) {
.open-bounties-header .open-bounties-price {
	float: none;
	display: block;
}
.open-bounties-header h3 {
	padding-left: 0px;
	margin-bottom: 0px;
}
.open-bounties-desc {
	margin-bottom: 20px;
}
.open-bounties-tags {
	float: left;
}
.warning-message {
	display: block;
	margin-top: 10px;
}
}
/*....Sh Home page..*/	
 @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
.nav.navbar-nav li a {
	font-size: 13px;
	padding-left: 14px;
	padding-right: 15px;
}
.navbar-form .form-control {
	max-width: 200px;
}
}
 @media only screen and (max-width : 767px) {
.navbar-default .navbar-collapse {
	padding-left: 0;
	padding-right: 0;
}
.nav.navbar-nav {
	margin: 0px;
 	width:100%;
}
.navbar-form {
	float: left;
	width: 100%;
}
.nav.navbar-nav {
	width: 100%;
}
.navbar-form {
	padding-left: 40px;
	border-bottom: 0;
}
footer .pull-right {
	float: left !important
}
/*....Sh Home page..*/
.open-bounties-list {
	margin: 10px 0px 20px;
}
.open-bounties-tags a {
	margin-bottom: 5px;
	display: inline-block;
	float: none;
}
.tab-content {
	padding: 10px 0;
}
.comment-nav .nav {
	float: left !important;
	margin-left: 0px;
	margin-top: 20px;
}
}
