<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  	<h1> withdrawal request </h1>
  	user id: <%= @user.id %><br>
  	withdrawal id: <%= @withdrawal.id %><br>
  	withdrawal amount: <%= @withdrawal.amount %><br>
  	Time: <%= Time.now %><br><br>
  	Confirm as fast as you can!
  </body>
</html>
